<div class="h-info">
    <div class="container">
        <p class="h-left">
            <img src="imgs/UW.png" alt="logo" class="h-logo">
        </p>
        <div class="h-right">
            <p>
                <span class="glyphicon glyphicon-star h-icon"></span>
                <span class="glyphicon glyphicon-star h-icon"></span>
                <span class="glyphicon glyphicon-star h-icon"></span>
                <b style="font-weight: bold; font-size: 20px">Easy Wedding Store</b>
                <span class="glyphicon glyphicon-star h-icon"></span>
                <span class="glyphicon glyphicon-star h-icon"></span>
                <span class="glyphicon glyphicon-star h-icon"></span>
            </p>
            <p>
                Địa chỉ: 12 Nguyễn Văn Bảo, Phường 4, Gò Vấp, Hồ Chí Minh
            </p>
            <p>
                Số điện thoại: +84 01234 567 899
            </p>
        </div>
    </div>
</div>