<div class="col-xs-3 col-lg-3 col-sm-3" style="padding: 10px 30px">
    <div class="cart panel panel-default"
         style="border-radius: 8px; box-shadow: 0px 0px 20px 0px #ccc">
        <div class="panel-body">
            <img class="col-sm-5 col-xs-5 cart-img" src="../imgs/shoppingcart.png" />
            <ul class="col-sm-7 col-xs-7 cart-detail">
                <li id="cart-cnt"><%= quantity %> items</li>
                <li id="cart-amt">$ <%= price %></li>
                <li><a href="/cart" id="viewcart">Xem giỏ hàng</a></li>
            </ul>
        </div>
    </div>
    <br>
    <div class="cart panel panel-default"
         style="border-radius: 8px; box-shadow: 0px 0px 20px 0px #ccc">
        <div class="panel-body">
            <form method="post" action="/search">
                <label>Tìm kiếm sản phẩm</label>
                <div class="input-group">
                    <input type="text" class="form-control" size="38"
                           placeholder="Search and Enter..." name="keywords" style="z-index: 0"
                           value=""> <span class="input-group-btn">
								</span>
                </div>
            </form>
        </div>
    </div>
    <br>
    <div class="list-group">
        <li class="list-group-item lg-item-active">
            <i class="glyphicon glyphicon-th-list" style="margin-right: 10px"></i>  Loại sản phẩm</li>
        <% categories.forEach(function (c) { %>
        <a href="/category=<%= c.name %>" class="list-group-item"><%= c.name %></a>
        <%
        }); %>

    </div>
    <hr>
    <div class="list-group">
        <li class="list-group-item lg-item-active">
            <i class="glyphicon glyphicon-th-list" style="margin-right: 10px"></i>  Xem thêm</li>
        <a href="/list-sale" class="list-group-item">Sale</a>
        <a href="/list-new" class="list-group-item">Hàng mới về</a>
        <a href="/list-special" class="list-group-item">Được nhiều ưa chuộng</a>
    </div>
</div>