<div class="h-show">
    <div id="myCarousel" class="carousel" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
            <li data-target="#myCarousel" data-slide-to="4"></li>
            <li data-target="#myCarousel" data-slide-to="5"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <img src="imgs/c1.jpeg" alt="Image" style="width:100%;">
                <div class="carousel-caption">
                    <p>Nhẫn cưới chung đôi</p>
                </div>
            </div>

            <div class="item">
                <img src="imgs/c2.jpeg" alt="Image" style="width:100%;">
                <div class="carousel-caption">
                    <p>Hoa cưới đầy ấp niềm hạnh phúc</p>
                </div>
            </div>

            <div class="item">
                <img src="imgs/c3.jpeg" alt="Image" style="width:100%;">
                <div class="carousel-caption">
                    <p>Bên nhau trọn đời, trọn kiếp</p>
                </div>
            </div>

            <div class="item">
                <img src="imgs/c4.jpeg" alt="Image" style="width:100%;">
                <div class="carousel-caption">
                    <p>Gia đình, bạn bè chung vui</p>
                </div>
            </div>

            <div class="item">
                <img src="imgs/c5.jpeg" alt="Image" style="width:100%;">
                <div class="carousel-caption">
                    <p>Hạnh phúc là cùng nhau nắm tay bước trên hôn đường</p>
                </div>
            </div>

            <div class="item">
                <img src="imgs/c6.jpeg" alt="Image" style="width:100%;">
                <div class="carousel-caption">
                    <p>Mọi bước đều là của nhau</p>
                </div>
            </div>
        </div>
    </div>
</div>

</div>